<section>
  <h1>About Me</h1>
  <div id="profile">
    <img class="left" src="https://si0.twimg.com/profile_images/1476807314/icon.gif" width="57" height="57">
    <p>
      <strong>fakestarbaby</strong><br/>
      <a href="http://twitter.com/fakestarbaby" target="_blank"><img src="/images/icon-twitter.png" width="22" height="22"></a>
      <a href="https://github.com/FakeStarBaby" target="_blank"><img src="/images/icon-github.png" width="22" height="22"></a>
      <a href="http://qiita.com/users/fakestarbaby" target="_blank"><img src="/images/icon-qiita.png" width="22" height="22"></a>
    </p>
  </div>
</section>
